/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

body {
    background-color: #6ba2aa;
    color: #000;
    font-family: "Open Sans", Helevetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
}

h1 {
    font-size: 38px;
}

h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
}

blockquote {
    color: #999;
    font-size: 18px;
    font-style: italic;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
}

.article {
    padding-bottom: 40px;
    padding-top: 40px;
}

.article-body {
    padding-left: 20px;
    padding-right: 20px;
}

.article-title {
    border-bottom: 3px solid #6ba2aa;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.cell {
    margin: 0 auto;
    max-width: 800px;
}

.comment {
    margin-bottom: 40px;
}

.comment>img {
    border: 2px solid #45686D;
    border-radius: 50%;
    float: left;
    height: 64px;
    width: 64px;
    margin: 0 10px 0 0;
}

.comment-actions {
    color: #9ecbd2;
    font-size: 12px;
    text-transform: uppercase;
}

.comment-actions a {
    color: #9ecbd2;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

.comment-actions a:active,
.comment-actions>a:focus,
.comment-actions>a:hover {
    color: #fff;
}

.comment-actions>a {
    margin-left: 15px;
}

.comment-body {
    color: #fff;
}

.comment-count {
    color: #9ecbd2;
    margin-bottom: 20px;
}

.comment-button {
    background-color: #45686D;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-transform: uppercase;
    outline: none;
    width: 145px;
}

.comment-button:active {
    background-color: #5C8288;
}

.comment-list {
    margin-top: 40px;
}

.comment-header {
    border-bottom: 2px solid #fff;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.comment-form {
    background-color: #9ecbd2;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
    position: relative;
}

.comment-form::before {
    background: url("images/logo.svg") center no-repeat;
    content: '';
    height: 80px;
    position: absolute;
    right: 0;
    top: -80px;
    width: 154px;
}

.comment-form-actions>button {
    background-color: #fce87c;
    border: 0;
    border-radius: 10px;
    color: #6ba2aa;
    display: inline-block;
    font-weight: 700;
    line-height: 3;
    padding: 0 40px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.comment-form-actions>button:active,
.comment-form-actions>button:focus,
.comment-form-actions>button:hover {
    background-color: #fbe259;
}

.comment-form>label {
    color: #6ba2aa;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.comment-form-fields>input,
.comment-form-fields>textarea {
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    resize: none;
}

.row {
    background-color: #6ba2aa;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
}

.row.comments-container {
    min-height: 300px;
}

@media screen and (max-width: 800px) {
    .row.comments-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.comment-avatars {
    margin-bottom: 40px;
}

.comment-avatars>h4 {
    color: #9ecbd2;
    text-transform: uppercase;
}

.comment-avatars>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment-avatars>ul>li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.comment-avatars>ul>li~li {
    margin: 0 5px;
}

.comment-avatars img {
    border: 2px solid #45686D;
    border-radius: 50%;
    height: 64px;
    width: 64px;
}
